<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style%20for%20TGIF/style_TGIF.css" />
    <title>congress members</title>

</head>

<body class="body">
    <div class="about_logo">

    </div>
    <!--   NAVBAR-->

    <div class="navi">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!--
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">You are on TGIF home page</a>
                </div>
-->
                <ul class="nav navbar-nav">
                    <li><a href="home-starter-page.html">Home</a></li>
                    <li class="active" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Congress 113 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="house-starter-page.html">House</a></li>
                            <li><a href="senate-starter-page.html">Senate</a></li>

                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Attendance <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="senate-attendance-statistics.html">House</a></li>
                            <li><a href="house_attendance.html">Senate</a></li>

                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Party Loyalty <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="house_loyalty.html">House</a></li>
                            <li><a href="senate_loyalty.html">Senate</a></li>

                        </ul>
                    </li>
                </ul>
                
            </div>
        </nav>
    </div>
    <!--                    END OF NAVIGATION-->

    <!--Table container-->
    <div class="container" class="about">
        <h2 class="display-4">Senators</h2>
        <p>First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. <br> Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate <br> has several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification <br>and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive officials, <br>military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials <br> impeached by the House.</p>
        <!--       TABLE-->

        <div class="container" id="app">


            <div class="header">
                <div class="filters">

                    <input type="checkbox" name="party" value="R" @click="filter">Republican
                    <input type="checkbox" name="party" value="D" @click="filter">Democrat
                    <input type="checkbox" name="party" value="I" @click="filter">Independent

                    <select name="states" id="states" @change="filter">
                    <option value="all">--All--</option>
                    
                    <option v-for="state in states" :value="state">{{state}}</option>
                </select>
                </div>
            </div>
            <div class="info">
                <!--
                <div class="image" v-if="allMembers.length == 0">
                    <img src="loader.gif" alt="loader">
                </div>
-->

                <table id="myTable" v-if="members.length > 0" class="table table-striped">
                    <thead id="header">
                        <th>Name</th>
                        <th>Party</th>
                        <th>State</th>
                        <th>Years in office</th>
                        <th>% Votes w/Party</th>
                    </thead>
                    <tbody>

                        <tr v-for="member in members">
                            <td>
                                <a :href="member.url" class="iframe">{{ member.first_name }}
                                <span v-if="member.middle_name">{{ member.middle_name }}</span> {{ member.last_name }}</a>
                            </td>
                            <td>{{ member.party }} </td>
                            <td>{{ member.state }} </td>
                            <td>{{member.seniority}}</td>
                            <td>{{member.votes_with_party_pct}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="notificationContainer">
                <div class="notification is-danger" v-if="canShowAdvice && members.length == 0">
                    Any member with this criteria. Try to change State or Party to solve it.
                </div>
            </div>

        </div>

    </div>


    <footer class="home_footer">

        <p class="footer_p"> © 2018 TGIF | All Rights Reserved </p>


    </footer>
    <!--    SCRIPTS-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--        <script src="pro-congress-senate.js"></script>-->
    <script src="congress2.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>

    <script src="jquery.colorbox-min.js"></script>
    <script src="jquery.colorbox.js"></script>
<!--    <script src="colorbox.css"></script>-->
    <script>
     
    </script>


</body>

</html>
